<h1 id="team-admin" class="team-admin">Admin Page</h1>

<h3 id="requests">User Requests</h3>
<form action="/teams/{{team._id}}/accept" method="POST">
<input type="hidden" name="_method" value="PATCH">
  {{#each requests}}
    <label>
      {{this.username}}
      <input type="radio" name="requests" value="{{this.id}}">
    </label>
  {{/each}}
  <button type="submit">Accept Selected</button>
</form>

<h3 id="kick">Kick Users</h3>
<form action="/teams/{{team._id}}/kick" method="POST">
<input type="hidden" name="_method" value="PATCH">
  {{#each members}}
    <label>
      {{this.username}}
      <input type="radio" name="members" value="{{this.id}}">
    </label>
  {{/each}}
  <button type="submit">Kick Selected</button>
</form>

