<h1 id="title" name="title">{{team.title}}</h1>

<h3 id="desiredRankHeader" name="desiredRankHeader">Desired Rank</h3>
<ul>
  {{#each team.desiredRank}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<h3 id="desiredRole" name="desiredRole">Desired Role</h3>
<ul>
  {{#each team.desiredRole}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<h3 id="region" name="region">Region</h3>
<p>{{team.region}}</p>

<h3 id="requests" name="requests">Request</h3>
<p>{{team.requests}}</p>

<h3 id="members" name="members">Members</h3>
<p>{{team.members}}</p>

</br>
<p>{{team.description}}</p>

{{#if joinable}}
<a href="/teams/{{team._id}}/join">join</a>
{{/if}}

{{#if leavable}}
<a href="/teams/{{team._id}}/leave">request to leave</a>
{{/if}}
