<h1 id="teams-title" class="teams-title">Teams</h1>
{{#if loggedIn}}
    <button onclick="location.href = '/teams/new';" id="newteam" class="newteam">New Team!</button>
{{/if}}

{{#each teams}}
    <div class="team">
	<h3>{{this.title}}</h3>
	<p>{{this.region}}</p>
	{{#each this.desiredRanks}}
	    <p>{{this}}</p>
	{{/each}}

	{{#each this.desiredRoles}}
	    <p>{{this}}</p>
	{{/each}}

	<p>{{this.description}}</p>

	<a href="/teams/{{this._id}}">View Team</a>
    </div>
{{/each}}

