<h1>Notifications</h1>

{{!-- Friend Requests --}}
{{#if friendRequests.length}}
  <h2>Friend Requests</h2>
  <ul class="friend-requests-list">
    {{#each friendRequests}}
      <li class="friend-request-item">
        <div class="user-info">
          <img src="{{this.fromUser.profilePicture}}" alt="pfp" class="pfp" />
          <span class="username">{{this.fromUser.username}}</span>
        </div>
        <div class="actions">
          <button class="accept-btn" data-requester-id="{{this.userId}}">Accept</button>
          <button class="reject-btn" data-requester-id="{{this.userId}}">Reject</button>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{!-- Poke Notifications --}}
{{#if pokes.length}}
  <h2>Poke Alerts</h2>
  <ul class="poke-list">
    {{#each pokes}}
      <li class="poke-item">
        <div class="user-info">
          <img src="{{this.fromUser.profilePicture}}" alt="pfp" class="pfp" />
          <span class="username">{{this.fromUser.username}}</span>
          <span class="poke-message">poked you to play!</span>
        </div>
        <div class="actions">
          <button class="acknowledge-poke-btn" data-poke-id="{{this.userId}}">Got it</button>
        </div>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#unless friendRequests.length}}
  {{#unless pokes.length}}
    <p>You have no new notifications.</p>
  {{/unless}}
{{/unless}}

<script type="module" src="/public/js/friends/friendRequests.js"></script>
<script type="module" src="/public/js/friends/pokes.js"></script>