<h2>Your Post's Feed</h2>

{{#if isLoggedIn}}
    <!-- maybe a button instead not sure? -->
    <a href="/posts/new" class="new-post">New Post</a>
{{/if}}

<form action="/posts" method="GET">
  <label for="q">Search:</label>
  <input type="text" id="postsSearch" name="postsSearch" placeholder="Search for a team!">
  <button type="submit" id="posts-searchSubmit" class="posts-searchSubmit">Search</button>
</form>

{{#if message}}
    <p id="message">{{message}}</p>
{{/if}}

{{#each posts}}
  <div class="post">
    <h3><a href="/posts/{{this._id}}">{{this.title}}</a></h3>

    {{#if (eq ../userId this.userId)}}
      <a href="/posts/{{this._id}}/edit" class="edit-button">Edit Post</a>
      <a href="/posts/{{this._id}}/delete" class="delete-post">Delete Post</a>
    {{/if}}

    {{#if this.image}}
      <a href="/posts/{{this._id}}">
        <img src="{{this.image}}" alt="Post Image" class="post-picture">
      </a>
    {{/if}}

    <p class="post-author">Posted by: {{this.username}}</p>
    <p class="post-content">{{this.content}}</p>

    {{#if this.tags.length}}
      <p class="post-tags">Tags:
        {{#each this.tags}}
          <span class="tag">{{this}}</span>
        {{/each}}
      </p>
    {{/if}}

    <p class="post-date">{{this.createdAt}}</p>
  </div>
{{/each}}
